@charset "utf-8";


*{
	margin: 0;
	padding: 0;
}

body{
	
	background-color: black;
}

#div{
	
	
	margin: auto;
	
}

img{

	margin-top: 0;
	display:block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	

}

#text{

	padding-top: 30px;
	color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	text-align: center;
	text-decoration: none;
	
}

a:link{

	color: white;
}

a:visited{

	color: pink;
}

a:hover{

	color: grey;
}



	

